

<a class="sesion">Registrate</a>
<div *ngIf="this.menuAdmin; else elseBlock"><div (click)="Salir()" class="sesion">Logout</div></div>
<ng-template #elseBlock ><a class="sesion" routerLink="/login">Login</a></ng-template>


<ng-template #elseBlack>ggvcs </ng-template> 


<div class="encabezado" id="encabezado" >

  <div *ngIf="valido" >
  
        <nav>
          
            <ul>
                <li>
    
                    <h1>Hotel Tijuana</h1>
                </li>
                <li>
                  <a routerLink=''>Inicio</a>
                </li>
        
                <li>
                  <a routerLink="/contacto">Contacto</a>
                </li>
                
                <li> 
                  <a routerLink="/galery">Galeria</a>
                </li>
                <div class="Admin" *ngIf='this.menuAdmin'>
                <li>
                  <a routerLink="/consultar">Consultar Facturas</a>
                </li>
    
                <li>
                  <a routerLink="/factura">Usuarios</a>
                </li>
                <li>
                  
                </li>
              </div>
              </ul>
          </nav>
         
          <a routerLink="/archivos"><h2>Hola</h2></a>
        
    
      <img src= "../../../assets/Imagenes/piscina.jpg" width="100%" height="300px"> 
      <br>
      <br>
     <hr>
    </div>

</div>


