


<div class="container">
    <hr class="line">


     
   
    <div class="padre">

        <div></div>
        <div class="Dform"> <strong>Hola</strong><h1>Inicia Sesion</h1><br>
        <form  (submit)="iniciarSesion($event)">
        <label>Ingresa tu Email</label><br>
        <input type="text" class="Dinput" name="Email" [(ngModel)]="Email"><br><br>
        <label>Ingresa tu password</label>
        <input type="password" name="Password" [(ngModel)]="Password"><br><br>
        <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
        </div>
        <div></div>

        
       
</div>

<hr class="line">
</div>


