<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Principal</title>
</head>
<body>
    <h2>Mean Pg</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
         Earum nostrum quia expedita repellat, minus modi sequi. 
         Impedit dolorem fuga ducimus molestiae neque magnam, totam, dicta,
        vel voluptate adipisci iure illum?</p>
</body>
</html>