.Factura{

    margin-top:100px ;
    background-color: rgb(236, 228, 236);
    width:90%;
    border-radius: 12px;
    padding-top:180px;
    padding:22px;
    margin-left: 60px;;
}

.Dlabel{
    margin-top:10px;
    width: 20%;
    margin-right: 12%;

}

.Dinput{
    margin-top:20px;
    width: 20%;
    margin-right: 12%;
}


.Pinput{

    margin-right:5px;
    width: 20%;
}
.Dbutton{

    background-color: rgb(33, 119, 233);
    width:20%;
    height:45px;
    margin-left: 19px;;
    border-radius: 8px;
}


.Cpicker{


    margin-right:90px;
    display: inline;
}
    
.Membrete{

    display:flex;
    width:100%;
}

.logoFact{

 margin-left:600px;
 border-radius:2px;
 float: right;
}