button{
    margin: 120px;
    margin-left:130px;
    background-color: blue;
    color: cornsilk;
    position: relative;
    width: 120px;
    height:40px;
    border-radius:10px;
    z-index: 5;
}

.Trans{


    width:93%;
    height:250px;
    background-color:rgb(21, 21, 22, 0.0 );
    
    position: absolute;
    z-index: 8;
}

.Trans:hover{

    background-color:rgb(21, 21, 22, 0.6 );

}

.img1{

  position: absolute;
  
  width:93%;

}


.img2{

    position: absolute;
    
    width:93%;
  
  }
.padre{

    position: relative;
}



