<div class="fondoF">



<style>
.flex-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: transparent;
  width:380px;
}

.flex-container > div {
  background-color:transparent;
  width: 100px;
  margin: 4px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
</style>







 
    
    <div class="contenedor2">
      <div class="titulo">Siguenos en:<br>
        
      </div>
      <div class="grid-item">
        <div class="flex-container">
          <div> 
            <h6>Twiter</h6>
            <img src= "../../../assets/Imagenes/tw.png" width="120px" height="120px"></div>
            <div> 
              <h6>Facebook</h6>
              <img src= "../../../assets/Imagenes/fb.png" width="120px" height="120px"></div>
              <div> 
                <h6>Instagram</h6>
                <img src= "../../../assets/Imagenes/ins.png" width="120px" height="120px"></div>
            
          
        </div>
      </div>
        
        
        
      
      
      <div class="grid-item" style="margin-left:120px;">
        
        
        
        <img src= "../../../assets/Imagenes/HT.png" width="200px" height="200px">

      </div>
      <div class="grid-item">

        <span><h6>Twitter</h6></span>
        <img src= "../../../assets/Imagenes/tw.png" width="120px" height="120px">
      </div>  
      <div class="grid-item">

        <div class="flex-container">
          <div>
            <h6>Instagram</h6>
            <img src= "../../../assets/Imagenes/tw.png" width="120px" height="120px"></div>
          <div>
            <h6>Whatsapp</h6>
            <img src= "../../../assets/Imagenes/wsp.png" width="120px" height="120px"></div>
          <div>
            <h6>Youtube</h6>
            <img src= "../../../assets/Imagenes/ytb.png" width="120px" height="120px"></div>  
          
        </div>
      </div>
      <div class="grid-item">
        


      </div>  
      <div class="grid-item">
        <span><h6>Facebook</h6></span>
        <img src= "../../../assets/Imagenes/fb.png" width="120px" height="120px"></div>
     
      
    </div>
  
 

    <span>

     hhahhahaha
    
    </span>


 




</div>
